@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playwrite+CU:wght@100..400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Playwrite+CU:wght@100..400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

$c1: #e9c46a;
$c2: #2a9d8f;
$c3: #264653;
$c4: #f4a261;
$c5: #e76f51;

.dark {
  color: white;
  background-color: black;
  border-color: white;
}
.App {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  font-family: "Roboto", sans-serif;
  user-select: none;
}

.container {
  max-width: 450px;
  min-width: 320px;
  border: 1px solid rgb(255, 255, 255);
  box-shadow: 0 2px 5px rgba(255, 255, 255, 0.1);
}

///////////////////////////////////////////
///                   Header            ///
///////////////////////////////////////////
.header {
  display: grid;
  width: 100%;
  height: 8vh;
  font-size: 2rem;
  background-color: $c3;
  position: sticky;
  top: 0;
  color: $c1;
}

.header .header-title {
  grid-column: 1 / span 3;
  grid-row: 1;
  font-family: "Playwrite CU", cursive;
  font-weight: 700;
  padding-left: 1rem;
}

.header .header-hamburger-menu {
  grid-column: 1 / span 4;
  grid-row: 1;
  text-align: right;
  align-content: center;
  padding-right: 1em;
  cursor: pointer;
}

.hamburger-menu-items {
  position: absolute;
  top: 60px;
  right: 0;
  background-color: #444;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  z-index: 1000;
}

.menu-item {
  padding: 10px 20px;
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s;
}

.menu-item:hover {
  background-color: #555;
}

.menu-disabled {
  display: none;
}

///////////////////////////////////////////
///              Input Section          ///
///////////////////////////////////////////

.input-section {
  width: 100%;
  transition: box-shadow 0.3s ease;
}

.whatsonyourmind {
  border: 1px solid green;
  font-size: 1em;
  font-weight: 600;
  text-align: center;
  margin: 10px;
  padding: 10px;
  border-radius: 20px;
}

.whatsonyourmind:hover {
  background-color: #0056b3;
  color: white;
}

///////////////////////////////////////////
///             Post Section            ///
///////////////////////////////////////////
.posts {
  width: 100%;
}

.post {
  border: 1px solid #ddd;
  padding: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.post-title {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 5px;
}

.post-date {
  font-size: 0.9em;
  margin-bottom: 10px;
}

.post-message {
  font-size: 1em;
}

.post .post-message:last-child {
  text-align: right;
  margin-top: 15px;
}

.post .post-message:last-child div {
  font-family: "Playwrite CU", serif;
}

///////////////////////////////////////////
///                   Loader            ///
///////////////////////////////////////////

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.loader {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
    box-shadow: 0 -1px 0 rgb(0, 0, 0);
  }

  50% {
    transform: rotate(180deg);
    box-shadow: 0 -1px 0 rgb(0, 0, 0);
  }

  100% {
    transform: rotate(360deg);
    box-shadow: 0 -1px 0 rgb(0, 0, 0);
  }
}

///////////////////////////////////////////
///           About                    ///
///////////////////////////////////////////
.about-container {
  margin: 0 auto;
  padding: 40px 20px;

  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.about-content {
  font-size: 1.2em;
  line-height: 1.6em;
  padding: 20px;
}
///////////////////////////////////////////
///              Sign In                ///
///////////////////////////////////////////

.signin-container {
  display: flex;
  justify-content: center;
  min-height: 92vh;
}

.signin-box {
  padding: 30px;

  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
}

.title {
  font-size: 1.8em;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

input[type="text"],
input[type="password"],
form #message {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  font-size: 1em;
  box-sizing: border-box;
}

form #message {
  height: 150px;
}

input[type="text"]:focus,
input[type="password"]:focus,
form #message:focus {
  border-color: #007bff;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.forget {
  text-align: right;
  font-size: 0.9em;
  color: #007bff;
  margin-bottom: 20px;
  cursor: pointer;
}

.forget:hover {
  text-decoration: underline;
}

button[type="submit"] {
  width: 100%;
  padding: 12px;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}

.account-create {
  text-align: center;
  margin-top: 20px;
  cursor: pointer;
}

.account-create b {
  color: #007bff;
}

.account-create:hover {
  text-decoration: underline;
}
