.only-for-chat {
  padding: 0;
  max-width: 700px;
}

.chat-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.chat-user-message {
  padding: 5px;
  margin: 5px;
  border: 1px solid green;
  border-radius: 15px;
}

.chat-user-message .user-name {
  font-size: 1.1em;
  font-family: "Playwrite CU", cursive;
}
.chat-user-message .user-msg {
  font-size: 1.1em;
}

.chat-container {
  padding: 5px;
  color: white;
}

.chat-container .left {
  margin-right: 60px;
  background-color: rgb(75, 75, 75);
}

.chat-container .right {
  margin-left: 60px;
  background-color: rgb(14, 173, 0);
}

.messages-container {
  height: 70vh;
  overflow: auto;
}

.message-send {
  display: flex;
}

.send-message-container {
  display: flex;
  flex-direction: row;
}

.send-message-container input {
  height: 2.5rem;
}

.send-message-container button {
  height: 2.5rem;
}

@media screen and (max-width: 767px) {
  .only-for-chat {
    padding: 0;
    max-width: 700px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .messages-container {
    height: 70vh;
    overflow: auto;
    min-width: 500px;
  }

  .only-for-chat {
    padding: 0;
  }
}

@media screen and (min-width: 1024px) {
  .messages-container {
    height: 70vh;
    overflow: auto;
    min-width: 700px;
  }

  .only-for-chat {
    padding: 0;
  }
}
