///////////////////////////////////////////
///                   Header            ///
///////////////////////////////////////////

.header {
  display: grid;
  width: 100%;
  height: 5rem;
  font-size: 2rem;
  background-color: #264653;
  color: #e9c46a;
  position: sticky;
  top: 0;
  z-index: 1;
}

.header .header-title {
  grid-column: 1 / span 3;
  grid-row: 1;
  font-family: "Playwrite CU", cursive;
  font-weight: 700;
  padding-left: 1rem;
}

.header .header-hamburger-menu {
  grid-column: 1 / span 4;
  grid-row: 1;
  text-align: right;
  align-content: center;
  padding-right: 1em;
  cursor: pointer;
}

.hamburger-menu-items {
  position: absolute;
  top: 60px;
  right: 0;
  background-color: #444;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  z-index: 1000;
}

.hamburger-menu-items .menu-item {
  padding: 10px 20px;
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s;
}

.hamburger-menu-items .menu-item:hover {
  background-color: #555;
}

.menu-disabled {
  display: none;
}
